.container {
    background: url("../img/bg-1.png");
    background-size: cover;
    width: 1366px;
    height: 770px;
    margin: 0 auto;
}

.header-menu {
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    text-decoration: none;
    margin-left: 79px;
}

.header-logo:hover .logo {
    color: #236D47;
}

.logo {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icons {
    position: relative;
}

.calendar-icon {
    fill: #FFFFFF;
}

.calendar-icon:hover {
    fill: #236D47;
    cursor: pointer;
}

.cover-icon {
    fill: #FFFFFF;
    margin-left: 27px;
}

.cover-icon:hover {
    fill: #236D47;
    cursor: pointer;
}

.compass-icon {
    fill: #FFFFFF;
    margin-left: 24px;
}

.compass-icon:hover {
    fill: #236D47;
    cursor: pointer;
}

.header-icons::after {
    content: url("../img/line.svg");
    position: absolute;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-left: 25px;
    margin-top: 2px;
}

.header-verification {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    /* line-height: 22px;  */
    margin-left: 53px;
    margin-right: 79px;
}

.header-login {
    text-decoration: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.header-login:hover {
    color: #236D47;
}

.header-sing-up {
    text-decoration: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.header-sing-up:hover {
    color: #236D47;
}

.main {}

.sign-up-window {
    margin: 0 auto;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    /* height: calc((100% / 1.25 ) - 58px); */
    margin-top: 64px;
    padding-top: 31px;
    /* padding-right: 60px;
    padding-left: 60px; */
}

.sign-up-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 59px 0 61px;
}

.sign-up-title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    position: relative;
    text-transform: capitalize;
    text-decoration: none;
}

.sign-up-title::before {
    content: url("../img/shape.svg");
    position: absolute;
    margin-left: -61px;
    margin-top: 1px;
}

.sign-up-window-login {
    text-decoration: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-transform: capitalize;
}

.sign-up-window-login:hover {
    color: #01813F;
    text-decoration: underline;
}

.FG-btn {
    margin: 11px 60px 0 60px;
    display: flex;
    justify-content: space-between;
}

.F-btn {
    width: 160px;
    height: 48px;
    background: #305DB8;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    /* border: none; */
    outline: none;
    border-radius: 4px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 22px;
    padding-left: 15.77px;
    text-transform: capitalize;
}

.F-btn:hover {
    background-color: #022263;
}

.fb-text: {
    position: relative;
}

.fb-text::before {
    content: url("../img/rectangle-1.svg");
    position: absolute;
    margin-left: -18.77px;
    margin-top: -6px;
}

.F-symbol {
    fill: #FFFFFF;
}

.G-btn {
    width: 160px;
    height: 48px;
    background: #DF4A32;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    /* border: none; */
    outline: none;
    border-radius: 4px;
    border: 1px solid #fff;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 27px;
    padding-left: 11px;
    text-transform: capitalize;
}

.G-btn:hover {
    background-color: #AB1F09;
}

.g-text {
    position: relative;
}

.g-text::before {
    content: url("../img/rectangle-2.svg");
    position: absolute;
    margin-left: -30px;
    margin-top: -6px;
}

.G-symbol {
    color: #FFFFFF;
}

.line-or-line {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-top: 32px;
    text-align: center;
    position: relative;
    margin-bottom: 16px;
}

.line-or-line::before {
    content: url(../img/line-or.svg);
    position: absolute;
    margin-top: -3px;
    margin-left: -154px;
}

.line-or-line::after {
    content: url(../img/line-or.svg);
    position: absolute;
    margin-top: -3px;
    margin-left: 4px;
}

.form-verification {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {}

.form-item {
    margin-bottom: 15px;
    width: 324px;
    height: 46px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    border: 1px solid #F2F2F2;
    outline: none;
    text-transform: capitalize;
    text-indent: 20px;
        
}

.form-item::placeholder {
    color: #BEBEBE;
    
}

.form-item:focus {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -80px;
    /* background-color: chartreuse; */
}


.agree-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-left: 8px;
}

/* .checkbox-item:checked {
    content: url("../img/vector-1.svg");
    
} */


.terms-conditions-link {
    text-decoration: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-left: 2px;
}

.terms-conditions-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.create-account {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
}

.create-account:hover {
    background-color: #01813F;
}